<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Faithlife Azure" value="https://pkgs.dev.azure.com/Faithlife/Packages/_packaging/main/nuget/v3/index.json" />
  </packageSources>
</configuration>
